.custom-navbar {
    background-color: rgb(245, 210, 199);
}

.logo{
    display: flex;
    align-items: center; /* Vertically center image and text */
    gap: 12px;   
}

.logo-image {
    width: 100%;
    max-width: 75px; /* Or any desired size */
    height: auto;
    border-radius: 40%;
    display: block;
  }

.main-logo{
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    color: rgb(110, 87, 76);;
}

.logo-subtext {
   color: rgb(110, 87, 76);
}

.nav-pills .nav-link {
    color: rgb(110, 87, 76);         /* Base text color */
    font-weight: 500;                /* Slightly bold for clarity */
    transition: color 0.3s ease;
  }
  
  .nav-pills .nav-link:hover {
    color: rgb(150, 110, 95);        /* A slightly lighter tone for hover */
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-pills .nav-link.active {
    color: white;
    background-color: rgb(110, 87, 76);  /* Active link with brand color bg */
    font-weight: 600;
  }
  